div.blogBody {
  height: 100vh;
  background-color: rgba(128, 103, 85, .8);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.blogMain {
  height: 80%;
  border: 1px solid black;
}
