
<nav class="head col-sm-12">
  <ul class="col-sm-10 col-sm-offset-1">
    <li class="col-sm-2 col-sm-offset-1"><a class="navA" ng-class="{'active' : locate === '/'}" ng-click="goTo('/')">Home</a></li>
    <li class="col-sm-2"><a class="navA" ng-class="{'active' : locate === '/about'}" ng-click="goTo('/about')">About</a></li>
    <li class="col-sm-2"><a class="navA" ng-class="{'active' : locate === '/gallery'}" ng-click="goTo('/gallery')">Gallery</a></li>
    <li class="col-sm-2"><a class="navA" ng-class="{'active' : locate === '/blog'}" ng-click="goTo('/blog')">Blog</a></li>
    <li class="col-sm-2"><a class="navA" ng-class="{'active' : locate === '/contact'}" ng-click="goTo('/contact')">Contact</a></li>
  </ul>
</nav>
