<div class="container-fluid">
  <div class="row mainRow">
    <main id="home" class="home col-sm-12">
    <header-directive></header-directive>

      <div class="homeBody col-sm-12">
        <img class="logo" src="../media/logo-min.png" alt="">

        <div class="getInTouch col-sm-3">
          <button class="col-sm-12" type="button" name="button">Get In Touch</button>
        </div>

        <div class="socialBtns col-sm-6">
          <div class="blur"></div>
          <a class="socialA col-sm-4" href="http://facebook.com/tablesanddoors">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a class="socialA col-sm-4" href="http://pinterest.com/tablesanddoors">
            <i class="fa fa-pinterest"></i>
          </a>

          <a class="socialA col-sm-4" href="http://instagram.com/tablesanddoors">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
